body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

html{
    width: 100%;
    height: 100%; 
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    flex-direction: column;
}