div{
  width: 30%;
  height: 100px;
  border: 2px solid red;
  text-align: center;
  line-height: 100px;
}

@media screen and (min-width: 1500px){
  div:nth-of-type(2) {
    width: 60%;
  }
}

@media screen and (max-width:750px){
    div:nth-of-type(1),div:nth-of-type(3){
        width: 15%;
    }
}

main{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    box-shadow: 20px 10px 10px greenyellow;
}

@media screen and (min-width: 1400px){
    main:nth-child(2),main:nth-child(3){
        transform: scale(2);
    }
}

@media screen and (max-width: 900px){
    main:nth-child(1),main:nth-child(4){
        transform: scale(0.5);
    }
}