.container{
    width: 500px;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    justify-content:space-between;
    align-content: space-between;
    gap: 10px;
}
.container div{
    width: 100px;
    height: 100px;
    background-color: aqua;
}