.rotate-move{
    background-color: black;
    width: 100px;
    height: 100px;
    transform: translate(200px,100px);
}

.rotate-move:hover{
    transform:rotate(60deg);
}

.scale-rotate{
    background-color: black;
    width: 100px;
    height: 100px;
}

.scale-rotate:hover{
    transform: scale(2)rotate(-60deg);
}




@keyframes rotate-move{

}