main div{
    width: 500px;
    height: 500px;
    background-color: blue;
    border-width: 50px,10px,40px,2px;
}

main div p{
    font-weight: bold;
}

section{
    width: 50px;
    height: 50px;
    background-color: green;
}