div span p{
    background-color: aqua;
    color: black;
    width: 200px;   
    height: 200px;
}

p:nth-of-type(2){
    background-color: rgb(0, 255, 128);
    color: #6f00ffb9; 
}

span:nth-of-type(1){
    background-color: rgb(0, 136, 255);
    color: rgb(4, 255, 0);
    width: 200px;   
    height: 200px;
}