div:nth-of-type(1){
    background-color: cornflowerblue;
}

div{
    width: 300px;
    height: 300px;
    
}

div:nth-of-type(2){
    background-color: darkgoldenrod;
}

div:nth-of-type(3){
    background-color: darkolivegreen;
}

div:nth-of-type(4){
    background-color: darkslategrey;
}

@media screen and (min-width: 1000px){
    div:nth-of-type(1),div:nth-of-type(3){
        transform: scale(2);
    }
    
}