@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{font-family: "Figtree",sans-serif;}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ilustr-pic {
  border-radius: 10px;
  width: 300px;
  height: auto;
  align-self: center;
}
.div1 {
  background-color: white;
  width: 300px;
  height: 430px;
  display: flex;
  border-radius: 15px;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
  box-shadow: 10px 10px;
  border: 1.5px solid black;
}
.date {
  margin-top: 0;
}
button {
  margin-bottom: 10px;
  background-color: hsl(47, 88%, 63%);
  padding: 7px;
  width: 70px;
  border: 0px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 700;
}
.main-txt {
  color: hsl(0, 0%, 42%);
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.prof-pic {
  width: 50px;
}
.prof-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* align-items, justify-content, 
flex-direction, align-self, justify-self */
