span:nth-of-type(2n){
    width: 200px;
    height: 200px;
    background-color: blue;
    display: block;
}

p:nth-of-type(n){
    color: red;
}

p:nth-of-type(5){
    color: green;
    font-size: 35px;
}

div:nth-child(n){
    background-color: purple;
    width: 200px;
    height: 200px;
}

div:nth-child(3),div:nth-child(4){
    background-color: yellow;
    width: 100px;
    height: 100px;
}