.parent{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    background-color: aqua;
    justify-content: center;
    align-items: center;  
}

.child{
    width: 30px;
    height: 30px;
    background-color: blue;
}