/* main div{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
div:nth-child(3n){
    background-color: blue;
} */

.child{
    width: 300px;
    height: 300px;
    background-color: red;
}
.child:nth-child(3){
    transform: scale(2);
    background-color: blue;
}

.child:nth-child(4){
    transform: scale(2);
    background-color: gray;
}

.child:nth-child(5){
    transform: scale(2);
    background-color: green;
}